html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;

    position: relative;

    min-width: 320px;

    color: #000;
    /*background-color: #ededed;*/
    background-color: #fafafa;

    -webkit-text-size-adjust: none;
}

.body_error-page
{
    background: url(../images/404_back.jpg) no-repeat;
    background-color: #fafafa;
    background-position: top right;
    background-size: cover;
}

@media screen and (max-width: 1440px)
{
    .body_back-1
    {
        background: url(../images/section_back-1.jpg) no-repeat top right;
    }
    .body_back-1:before
    {
        display: none;
    }
}
@media screen and (min-width: 1441px)
{
    .body_back-1
    {
        background-image: none;
    }
    .body_back-1:before
    {
        position: absolute;
        z-index: -1;
        right: 0;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        content: '';

        background: url(../images/section_back-1.jpg) no-repeat top right;
        background-size: contain;
    }
}


@media screen and (max-width: 1440px)
{
    .body_back-2
    {
        background: url(../images/section_back-2.jpg) no-repeat top left;
    }
    .body_back-2:before
    {
        display: none;
    }
}
@media screen and (min-width: 1441px)
{
    .body_back-2
    {
        background-image: none;
    }
    .body_back-2:before
    {
        position: absolute;
        z-index: -1;
        right: 0;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        content: '';

        background: url(../images/section_back-2.jpg) no-repeat top left;
        background-size: contain;
    }
}

@media screen and (max-width: 1440px)
{
    .seo_text
    {
        background: url(../images/section_back-seo.jpg) no-repeat bottom left;
    }
    .seo_text:before
    {
        display: none;
    }
}
@media screen and (min-width: 1441px)
{
    .seo_text
    {
        background-image: none;
    }
    /*.seo_text:before {
	    background: url(../images/section_back-seo.jpg) no-repeat bottom left;
	    background-size: contain;
	    content: '';
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    margin: 0;
	    position: absolute;
	    right: 0;
	    z-index: -1;
	}*/
}

*,
*:before,
*:after
{
    box-sizing: border-box;
}

*
{
    border-collapse: collapse;
}

@font-face
{
    font-family: 'Neucha';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Neucha.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;

    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;

    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;

    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 600;

    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/* ================== HELPERS ================== */
/* ============================================ */

.hidden
{
    display: none !important;
}

.visible
{
    display: block !important;
}

.fixed
{
    display: fixed !important;
}

.m0 {
    margin: 0 auto;
}
.overflow {
    z-index: 100;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/* ================== !HELPERS ================== */
/* ============================================ */


/* ================== HEADER ================== */
/* ============================================ */

header
{
    padding-top: 20px;

    background: url('../images/header_background.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;
}
@media screen and (min-width: 768px)
{
    header
    {
        height: 90%;
    }
    /*.header_shoptitle {
    	font-size: 60px;

	    top: 60%;
	    transform: translateY(-60%);
	    -webkit-transform: translateY(-60%);

	    text-align: center;
    	max-width: 470px;
	}*/
}

.fuctional-panel
{
    position: relative;
    z-index: 101;
}
@media screen and (max-width: 991px)
{
    .header_shoptitle
    {
        font-size: 60px;

        width: 100%;
        margin: 0 auto;
        padding: 0 30%;

        text-align: center;
    }
}
@media screen and (min-width: 991px)
{
    .header_shoptitle
    {
        font-size: 60px;

        top: 60%;

        max-width: 470px;

        -webkit-transform: translateY(-60%);
                transform: translateY(-60%);
        text-align: center;
    }
}
.header_inviteimg
{
    position: absolute;
}
@media screen and (max-width: 767px)
{
    .header_inviteimg
    {
        right: 0;
        bottom: 5%;
        left: 0;

        max-width: 70%;
        margin: 0 auto;
        padding: 0 10%;

        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    .header_inviteimg
    {
        right: 0;
        bottom: 5%;
        left: 0;

        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px)
{
    .header_inviteimg
    {
        right: 10%;
        bottom: 0;
        /*max-width: 470px;*/

        width: 50%;

        -webkit-transform: translateX(10%);
                transform: translateX(10%);
    }
}
@media screen and (min-width: 1600px)
{
    .header_inviteimg
    {
        width: 40%;
    }
}
@media screen and (max-width: 767px)
{
    header
    {
        width: 100%;
        min-height: 90%;
    }
    .header_shoptitle
    {
        font-size: 36px;
        /*text-align: center;
    	top: 50%;
    	width: 100%;
    	padding: 0 10%;

    	right: 0;
    	left: 0;*/
    }
    .header_inviteimg img
    {
        /*max-width: 235px;*/
    }
}
@media screen and (max-width: 539px)
{
    .header_shoptitle
    {
        top: 50%;
        right: 0;
        left: 0;

        width: 100%;
        padding: 0 10%;
    }
}

@media screen and (max-width: 539px)
{
    .header_logo
    {
        right: 0;
        left: 0;

        width: 100%;

        transform: translateY(15%);
        text-align: center;
        /*padding: 0 10%;*/
    }
}
@media screen and (min-width: 540px)
{
    .header_logo
    {
        width: 30%;

        transform: translateY(-10%);
    }
}

.header_logo
{
    position: absolute;
    top: 0;
}
.header_logo a > img
{
    width: 100%;
    max-width: 472px;
    height: auto;
}
.header_inviteimg img
{
    width: 100%;
}
.header_shoptitle
{
    font-family: Neucha;

    position: absolute;

    display: inline-block;

    color: #054f62;
}

.header_phone-number
{
    font-size: 24px;
    font-weight: 600;

    display: block;

    color: #054f62;
}

.header_phone-order
{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    display: block;

    text-decoration: underline;

    color: #054f62;
}
.nav_for-mobile
{
    z-index: 102;
}
.nav_for-mobile button
{
    font-size: 0;

    width: 23px;
    height: 22px;

    -webkit-transition: all .6s ease;
            transition: all .6 ease;

    border: 0;
    background: url('../images/nav_icon.png') no-repeat;
}
.nav_for-mobile button:active
{
    -webkit-transition: all .6s ease;
            transition: all .6 ease;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

    opacity: 0;
}
.nav_for-mobile button.x-icon
{
    position: fixed;

    -webkit-transition: all .6s ease;
            transition: all .6 ease;

    background: url('../images/x_icon.png') no-repeat !important;
}

.header_nav-small
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;

    display: none;

    width: 90%;
    height: 100%;
    padding: 15%;

    list-style: none;
    /*background-color: #bee3ea;*/

    background-color: #b5d3d9;
}
.header_nav-small li
{
    margin: 20px 0;
}

.header_nav-small-title
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 36px;
}

.header_workingtime
{
    padding-left: 47px;

    background: url(../images/header_workingtime-image.png) no-repeat;
    background-position: 0 3px;
}

.header_workingtime-time
{
    font-size: 26px;
    font-weight: 600;
    line-height: 1;

    display: block;

    color: #054f62;
}

.header_workingtime-time > sup
{
    font-size: 70%;
    font-weight: 600;
    line-height: 0;

    position: relative;
    top: 10px;

    vertical-align: top;
}

.header_workingtime-week
{
    font-size: 13px;
    font-weight: 600;
    line-height: 1;

    display: block;

    margin-top: 6px;
    margin-left: 3px;

    color: #054f62;
}

.header_nav
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 20px;

    margin-top: 40px;
}
@media screen and (min-width: 1600px)
{
    .header_nav
    {
        font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
        font-size: 32px;

        margin-top: 40px;
    }
}
.header_nav ul
{
    list-style: none;
}

.header_nav ul li
{
    display: inline-block;

    margin: 0 10px;
}

.header_nav ul li > a,
.header_nav ul li > a:visited
{
    text-decoration: none;

    color: #054f62;
}

.header_nav ul li > a:hover,
.header_nav ul li > a:focus
{
    text-decoration: underline;

    color: #054f62;
}

.header_nav ul li > a:active
{
    text-decoration: none;

    color: #054f62;
}

.header_cart
{
    /*width: 34px;*/
    height: 36px;

    background: url('../images/header_img-cart.png') no-repeat;
}

.header_search-btn
{
    /*width: 33px;*/
    height: 33px;

    background: url('../images/header_img-search.png') no-repeat;
}

#header_search-form
{
    position: absolute;
    /*bottom: 50%;*/
    z-index: 101;
    top: 25%;
    right: 0;
    left: 0;

    display: none;
    /*width: 100%;*/

    width: 75%;
    margin: 0 auto;

    text-align: center;
}

#header_search-form form > input[type='search']
{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;

    width: 100%;
    max-width: 800px;
    height: 40px;
    padding: 3px 30px;

    color: #054f62;
    border: 1px solid #054f62;
    border-radius: 20px;
    outline: none;
    background-color: #dfeff3;

        box-shadow: 0 10px 40px;

}
/* ================== !HEADER ================== */
/* ============================================ */

@media screen and (min-width: 500px) (max-width: 767px)
{
    .offers
    {
        width: 70%;
    }
}

@media screen and (min-width: 1441px)
{
    .catalog,
    .offers
    {
        width: 1441px;
        margin: 0 auto;
    }
}

/* ================== MAIN CATALOG ================== */
/* ============================================ */

@media screen and (min-width: 1441px)
{
    .main-catalog
    {
        width: 1440px;
    }
}
@media screen and (min-width: 768px)
{
    .main-catalog_card
    {
        /*		margin-right: 15px;
		margin-left: 15px;*/
    }
}
.main-catalog_card
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    /*padding: 0 15px;*/
}
.main-catalog_card img
{
    width: 100%;
}

/* ================== !MAIN CATALOG ================== */
/* ============================================ */


/* ================== SECTION ================== */
/* ============================================ */

section h1
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;

    margin: 80px 0 50px 0;
    padding: 0 10% 20px 10%;

    text-align: center;

    color: #6f2525;
    background-image: url('../images/section_h1-curves.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

section.catalog h1
{
    margin: 80px 0 20px 0;
}
.catalog_filter
{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;

    width: 90%;
    margin: 0 auto 100px;

    text-align: center;

    color: #191919;
}
.catalog_filter span
{
    color: #686868;
}
@media screen and (max-width: 767px)
{
    .catalog_filter span
    {
        display: block;

        margin-top: 10px;
        padding: 0;
    }
}
@media screen and (min-width: 768px)
{
    .catalog_filter span
    {
        display: inline-block;

        padding: 0;
    }
}
.catalog_filter a,
.catalog_filter a:visited,
.catalog_filter a:hover,
.catalog_filter a:focus,
.catalog_filter a:active
{
    font-weight: 500;

    text-decoration: underline;

    color: #a87712;
}

section h2
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 24px;

    text-align: center;

    color: #6f2525;
}
@media screen and (min-width: 768px)
{
    section h1
    {
        font-size: 48px;

        background-size: initial;
    }
}
@media screen and (max-width: 767px)
{
    section h1
    {
        font-size: 32px;

        background-size: 205px;
    }
}

/* ================== !SECTION ================== */
/* ============================================ */

.delivery,
.about,
.contacts
{
    margin-top: 60px;
}

.article
{
    /*padding: 0;*/
}
@media screen and (min-width: 992px)
{
    .article h1
    {
        line-height: 112px;

        padding-left: 150px;

        text-align: left;

        background-image: url('../images/article_image-icon.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 112px 112px;
    }
}
@media screen and (max-width: 991px)
{
    .article h1
    {
        padding-left: 70px;
        /*line-height: 56px;*/

        text-align: left;

        background-image: url('../images/article_image-icon.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 56px 56px;
    }
}
.article_image-title
{
    position: absolute;
    z-index: -1;
    left: -15px;

    width: 100%;
    width: calc(100% + 15px);
}
@media screen and (min-width: 1201px)
{
    .article_image-title
    {
        position: absolute;
        z-index: -1;

        width: 100%;
        width: calc(100% + 15px);

        transform: translateY(-60%);
    }
}

.about p,
.contacts p,
.article p
{
    font-size: 18px;
    font-weight: 400;

    margin-top: 20px;
    margin-bottom: 20px;

    color: #6f2525;
}
.article p
{
    font-weight: 300;
}
.about span.subtitle
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 24px;

    color: #6f2525;
}
.about_bullet span,
.article_subtitle
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 30px;

    display: block;

    margin-bottom: 50px;

    color: #6f2525;
}
.contacts .contacts_phone,
.contacts .contacts_whatsapp
{
    font-size: 24px;
    font-weight: 500;

    display: inline-block;

    margin: 20px 0;

    text-align: left;

    color: #6f2525;
}
.contacts .contacts_phone span,
.contacts .contacts_whatsapp span
{
    font-size: 14px;
    font-weight: 600;

    display: block;

    color: black;
}
.contacts_map
{
    width: 100%;
}
.delivery_bullets
{
    margin-bottom: 40px;
}

.delivery_bullets span
{
    font-size: 16px;
    line-height: 1.2;

    display: block;

    margin: 10px 0;

    color: #6f2525;
}

.delivery_bullets a
{
    font-size: 18px;

    display: block;

    text-align: center;
    text-decoration: underline;

    color: #8d6414;
}

.delivery_bullets a.delivery_how-phone
{
    font-size: 24px;

    text-decoration: none;
}

.delivery .section_delivery-text ul
{
    font-size: 18px;

    padding: 0;
}

.delivery .section_delivery-text ul li
{
    line-height: 1.4;

    margin: 0 20px 0 20px;

    color: #6f2525;
}

.section_delivery-text
{
    margin-top: 60px;
}


/* ================= SECTION CATALOG ================== */
/* ==================================================== */

/* ================== NAV ASIDE MENU ======================== */
.nav_aside-menu
{
    /*background-color: white;*/
}

.nav_aside-menu ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav_aside-menu ul li
{
    margin: 20px 0 20px 20px;
}

.nav_aside-menu ul li a
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;

    padding: 0 0 0 30px;

    text-decoration: none;

    color: #b09146;
    background: url('../images/nav_aside-menu-icon.png') no-repeat center left;
}

@media screen and (min-width: 1200px)
{
    .nav_aside-menu ul li a
    {
        font-size: 36px;
    }
    .nav_aside-menu ul li .nav_aside-menu-sub li a
    {
        font-size: 16px;
        line-height: 1;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px)
{
    .nav_aside-menu ul li a
    {
        font-size: 24px;
    }
    .nav_aside-menu ul li .nav_aside-menu-sub li a
    {
        font-size: 14px;
        line-height: 1;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    .nav_aside-menu ul li a
    {
        font-size: 18px;
    }
    .nav_aside-menu ul li .nav_aside-menu-sub li a
    {
        font-size: 14px;
        line-height: 1;
    }
}

.nav_aside-menu-sub
{
    display: none;
}

.nav_aside-menu ul li .nav_aside-menu-sub li,
.nav_aside-menu ul li .nav_aside-menu-sub li:visited
{
    margin: 10px 0;
    padding: 0 0 0 30px;

    transition: all .3s ease;

    background-image: none;
    background-repeat: no-repeat;
    background-position: center left;
}
.nav_aside-menu ul li .nav_aside-menu-sub li:hover,
.nav_aside-menu ul li .nav_aside-menu-sub li:active,
.nav_aside-menu ul li .nav_aside-menu-sub li:focus
{
    transition: all .3s ease;

    background-image: url('../images/nav_aside-menu-sub-hover.png');
    background-repeat: no-repeat;
    background-position: center left;
}



.nav_aside-menu ul li .nav_aside-menu-sub li a,
.nav_aside-menu ul li .nav_aside-menu-sub li a:visited
{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-weight: 400;

    padding: 0;

    transition: all .3s ease;

    color: #855e00;
    background-image: none;
}

.nav_aside-menu ul li .nav_aside-menu-sub li a.active,
.nav_aside-menu ul li .nav_aside-menu-sub li a:active,
.nav_aside-menu ul li .nav_aside-menu-sub li a:hover,
.nav_aside-menu ul li .nav_aside-menu-sub li a:focus
{
    font-weight: 600;

    padding: 0;

    transition: all .3s ease;

    color: #f36d00;
}


@media screen and (max-width: 767px)
{
    .nav_aside-menu
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;
        padding: 10%;

        transition: all .6s ease;

        background: white;
    }
    .x-icon-submenu
    {
        font-size: 0;

        position: absolute;
        right: 10%;

        display: block;

        width: 22px;
        height: 23px;

        background: url('../images/x_icon_submenu.png') no-repeat;
    }
    .nav_aside-menu-fixed
    {
        position: fixed;
        z-index: 100;
        bottom: 0;

        width: 100%;
        height: 60px;

        text-align: center;

        background-color: white;
        box-shadow: 0 -5px 10px rgba(0,0,0,.4);
    }
    .nav_aside-menu-fixed a,
    .nav_aside-menu-fixed a:active,
    .nav_aside-menu-fixed a:hover,
    .nav_aside-menu-fixed a:visited,
    .nav_aside-menu-fixed a:focus
    {
        font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
        font-size: 24px;
        line-height: 60px;

        text-decoration: none;

        color: #b09146;
    }
}


/* ==================== !NAV ASIDE MENU ====================== */


.sub-catalog_row
{
    margin-top: 120px;
    margin-bottom: 120px;
}
.sub-catalog_row:first-child
{
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 1602px)
{
    .sub-catalog_row .price-card:first-child .price-card_base
    {
        /*margin-left: 20%;*/
    }
    .sub-catalog_row .price-card:last-child .price-card_base
    {
        margin-right: 20%;
    }
}


.price-card
{
    min-height: 380px;

    text-align: center;
}
.price-card a {
    text-decoration: none;
}
@media screen and (width: 768px)
{
    .price-card
    {
        min-height: 340px;

        text-align: center;
    }
}
@media screen and (min-width: 992px)
{
    .price-card_base
    {
        height: 370px;
        margin-bottom: 140px;
        padding: 170px 0 0 0;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px)
{
    .price-card_base
    {
        height: 270px;
        padding: 140px 10px 0 10px;
    }
}
@media screen and (width: 768px)
{
    .price-card_base
    {
        height: 220px;
        padding: 100px 0 0 0;
    }
}
@media screen and (max-width: 767px)
{
    .price-card_base
    {
        height: 370px;
        margin: 80px auto 80px auto;
        padding: 170px 0 0 0;
    }
}
.price-card_base
{
    position: relative;

    width: 100%;
    max-width: 300px;

    transition: all .6s ease;

    background-color: white;
}
.price-card:hover .price-card_base
{
    transition: all .6s ease;

    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.price-card_base-img
{
    position: absolute;
    top: -80px;
    right: 0;
    left: 0;

    display: inline-block;

    width: 100%;
    max-width: 233px;
    margin: 0 auto;
}
@media screen and (min-width: 991px)
{
    .price-card_title
    {
        font-size: 30px;
    }
    .price-card_price
    {
        font-size: 36px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    .price-card_title
    {
        font-size: 18px;
    }
    .price-card_price
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 767px)
{
    .price-card_title
    {
        font-size: 30px;
    }
    .price-card_price
    {
        font-size: 36px;
    }
}
.price-card_title
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    line-height: 1;

    display: block;

    color: #b09146;
}
.price-card_price
{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-weight: 400;

    display: block;

    color: black;
}
@media screen and (min-width: 992px)
{
    .price-card_btn,
    .product-page_good-btn
    {
        font-size: 16px;

        background-size: 100%;
    }
    .price-card_btn span
    {
        top: -30px;
    }
    .product-page_good-btn span
    {
        /*bottom: -30px;*/
    }
}

@media screen and (max-width: 991px)
{
    .price-card_btn,
    .product-page_good-btn
    {
        font-size: 12px;

        background-size: 50%;
    }
    .price-card_btn span,
    .product-page_good-btn span
    {
        /*top: 13px;*/
    }
}

@media screen and (max-width: 767px)
{
    .price-card_btn,
    .product-page_good-btn
    {
        font-size: 16px;

        background-size: 100%;
    }
    .price-card_btn span
    .product-page_good-btn span
    {
        /*top: -30px;*/
    }
}
@media screen and (width: 320px)
{
    .product-page_good-btn
    {
        right: 0 !important;
        left: 0 !important;

        max-width: 84px !important;
        height: 84px !important;
    }
    .product-page_good-btn span,
    .price-card_btn span
    {
        /*top: -23px;*/
    }
}

.price-card_btn,
.product-page_good-btn
{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-weight: 500;

    position: absolute;
    z-index: 3;

    display: inline-block;

    width: 100%;
    max-width: 112px;
    height: 112px;
    margin: 0 auto;

    color: #a87712;
    border: 0 none;
    outline: none;
    background-color: transparent;
    background-image: url('../images/price-card_btn.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.order-btn {
 font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-weight: 500;

    z-index: 3;

    display: block;

    width: 100%;
    max-width: 112px;
    height: 112px;
    margin: 0 auto;
    position: relative;
    color: #a87712;
    border: 0 none;
    outline: none;
    background-color: transparent;
    background-image: url('../images/price-card_btn.png');
    background-repeat: no-repeat;
    background-position: center center;   
}
.order-btn span {
        bottom: -25px;
    position: absolute;
    left: 0;
    right: 0;

}

.price-card_btn
{
    right: 0;
    bottom: -40px;
    left: 0;
}
.product-page_good-btn
{
    left: 0;
    right: 0;
    bottom: 0;
}
.price-card_btn span,
.product-page_good-btn span
{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -20px;

    display: inline-block;

    text-decoration: underline;
}

/* ================= !SECTION CATALOG ================== */
/* ===================================================== */

/* ================== SECTION SEO ===================== */
/* ===================================================== */


@media screen and (min-width: 992px)
{
    section.seo_text
    {
        font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
        font-size: 22px;
        font-weight: 300;

        color: #054f62;
    }
    section.seo_text h3
    {
        font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
        font-size: 30px;
    }
}
@media screen and (max-width: 991px)
{
    section.seo_text
    {
        font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;

        color: #054f62;
    }
    section.seo_text h3
    {
        font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
        font-size: 24px;
    }
}


/* ================== !SECTION SEO ===================== */
/* ===================================================== */



/* ================== SECTION OFFERS ===================== */
/* ===================================================== */

.offers .pink h3
{
    color: #922075;
}
.offers .gold h3
{
    color: #a87712;
}
.offers .red h3
{
    color: #6f2525;
}
.offer-card
{
    position: relative;

    min-height: 460px;

    background-color: white;
}
@media screen and (max-width: 767px)
{
    .offer-card
    {
        margin-top: 70px;
    }
}
.offer-card-right
{
    padding-right: 15px;
    padding-left: 15px;

    transform: translateX(-10px);

    background: url(../images/offers_image-3.jpg) no-repeat top left;
    background-color: white;
    background-size: 100%;
}
.offer-card-left
{
    padding-right: 0;
    padding-left: 0;

    transform: translateX(10px);

    background: url(../images/offers_image-1.jpg) no-repeat top left;
    background-color: white;
    background-size: 100%;
}
@media screen and (min-width: 768px)
{
    .offer-card-left:after
    {
        position: absolute;
        top: 0;
        right: 10px;

        width: 10px;
        height: 460px;

        content: '';

        background-color: rgba(0,0,0,.4);
    }
    .offer-card-right:after
    {
        position: absolute;
        top: 0;
        left: 10px;

        width: 10px;
        height: 460px;

        content: '';

        background-color: rgba(0,0,0,.4);
    }
}

.offer-card-center
{
    z-index: 10;
    top: -30px;

    height: 520px;
    padding: 0;

    background: url(../images/offers_image-2.jpg) no-repeat top left;
    background-color: white;
    background-size: 100%;
}
.offer-card.offer-card-center h3
{
    margin-top: 60%;
}
.offer-card h3
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;

    width: 90%;
    /*position: absolute;*/
    /*bottom: 30%;*/
    margin-top: 50%;
    margin-bottom: 20px;
    padding: 0 7%;
}
.offer-card p
{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;

    width: 90%;
    padding: 0 7%;

    color: #140e00;
    /*position: absolute;*/
    /*bottom: 25%;*/
}
.offer-card img
{
    width: 100%;
}

@media screen and (max-width: 767px)
{
    .offer-card-center
    {
        top: 0;
    }
    .offer-card-left
    {
        transform: translateX(0);
    }
    .offer-card-right
    {
        transform: translateX(0);
    }
}

@media screen and (min-width: 992px)
{
    .offer-card h3
    {
        font-size: 42px;
    }
    .offer-card p
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 991px)
{
    .offer-card p
    {
        font-size: 18px;
        line-height: 24px;
    }
    .offer-card h3
    {
        font-size: 36px;
    }
}

@media screen and (max-width: 767px)
{
    .offer-card_btn
    {
        position: absolute;
        right: 0;
        bottom: -20px;
        left: 0;

        display: block;

        width: 112px;
        height: 112px;
        margin: 0 auto;

        border: 0;
    }
}
@media screen and (min-width: 768px)
{
    .offer-card_btn
    {
        position: absolute;
        bottom: -20px;
        left: 30px;

        display: block;

        width: 112px;
        height: 112px;

        border: 0;
    }
}
.offer-card.pink .offer-card_btn
{
    background: url('../images/offers_btn-pink.png') no-repeat;
}
.offer-card.gold .offer-card_btn
{
    background: url('../images/offers_btn-gold.png') no-repeat;
}
.offer-card.red .offer-card_btn
{
    background: url('../images/offers_btn-red.png') no-repeat;
}
/* ================== SECTION OFFERS ===================== */
/* ===================================================== */


/* ================== FOOTER ===================== */
/* ===================================================== */

footer
{
    margin-top: 50px;

    background-color: #bce4ee;
}
.footer_dev img
{
    width: 110px;
}
@media screen and (min-width: 992px)
{
    .footer_logo
    {
        top: -20px;

        width: 100%;
        max-width: 309px;
        height: 170px;

        background: url('../images/footer_logo.png') no-repeat;
    }

    .footer_nav span,
    .footer_payment span
    {
        font-size: 24px;
        font-weight: 500;

        display: block;

        margin-top: 20px;

        text-transform: uppercase;

        color: #00242d;
    }
    .footer_nav ul
    {
        display: table;

        margin: 10px 0 0 0;
        padding: 0;

        list-style: none;

        border-top: 1px solid #00242d;
    }
    .footer_nav ul div
    {
        display: table-cell;

        width: 60%;
        padding-right: 5%;
    }
    .footer_nav ul li
    {
        font-size: 18px;
        font-weight: 400;

        color: #054f62;
    }
    .footer_nav ul li a,
    .footer_nav ul li a:hover,
    .footer_nav ul li a:focus,
    .footer_nav ul li a:visited,
    .footer_nav ul li a:active
    {
        text-decoration: none;

        color: #054f62;
    }

    .footer_payment ul
    {
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;

        list-style: none;

        border-top: 1px solid #00242d;
    }
    .footer_payment ul li
    {
        display: inline-block;
    }
    .footer_payment ul li img
    {
        width: 50px;
    }
    .footer_info,
    .footer_dev
    {
        font-size: 18px;
        font-weight: 500;

        margin-top: 30px;
        margin-bottom: 30px;

        color: #00242d;
    }
    .footer_dev span,
    .footer_info span
    {
        display: block;
    }
}
@media screen and (max-width: 991px)
{
    .footer_logo
    {
        top: -20px;

        float: none;

        width: 100%;
        max-width: 309px;
        height: 170px;
        margin: 0 auto;
        padding: 0;

        opacity: .3;
        background: url('../images/footer_logo.png') no-repeat;
    }
    .footer_nav span,
    .footer_payment span
    {
        font-size: 24px;
        font-weight: 500;

        display: block;

        margin-top: 20px;

        text-transform: uppercase;

        color: #00242d;
    }
    .footer_nav,
    .footer_payment,
    .footer_info,
    .footer_dev
    {
        float: none;

        width: 100%;
        margin: 20px auto 20px;
        /*max-width: 70%;*/

        text-align: center;
    }
    .footer_nav ul,
    .footer_payment ul
    {
        margin: 10px 0 0 0;
        padding: 0;

        list-style: none;

        border-top: 1px solid #00242d;
    }
    .footer_payment ul
    {
        width: 70%;
        margin: 0 auto;
            padding: 10px 0 0 0;
    }
    .footer_nav ul li
    {
        font-size: 16px;
        font-weight: 400;

        margin: 15px auto;

        color: #054f62;
    }
    .footer_nav ul li a,
    .footer_nav ul li a:hover,
    .footer_nav ul li a:focus,
    .footer_nav ul li a:visited,
    .footer_nav ul li a:active
    {
        text-decoration: none;

        color: #054f62;
    }
    .footer_payment ul li
    {
        display: inline-block;
    }
    .footer_info span,
    .footer_dev span
    {
        font-size: 16px;
        font-weight: 500;

        display: block;

        margin-top: 15px;

        color: #00242d;
    }
}
/* ================== !FOOTER ===================== */
/* ===================================================== */


/**/
.product-page_good
{
    background-color: white;
}
.product-page_good p
{
    font-size: 18px;
    font-weight: 400;

    margin-top: 70px;

    color: black;
}
.product-page_good-photo
{
    top: -30px;

    width: 100%;
    max-width: 328px;
    margin: 0 auto;
}

.ingridients
{
    margin: 80px 0 80px 0;
}
.ingridients ul
{
    display: table;

    width: 100%;
    margin: 0;
    margin-top: 30px;
    padding: 0;

    list-style: none;
}
@media screen and (min-width: 992px)
{
    .ingridients ul li
    {
        font-size: 16px;

        display: table-cell;

        width: 112px;
        height: 140px;

        text-align: center;

        color: #6b6b6b;
    }
    .ingridients ul
    {
        display: table;

        width: 100%;
        margin: 0;
        margin-top: 30px;
        padding: 0;

        list-style: none;
    }
}
@media screen and (max-width: 991px)
{
    .ingridients ul li
    {
        font-size: 16px;

        display: inline-block;

        width: 112px;
        height: 140px;
        margin: 20px 20px;

        text-align: center;
        vertical-align: top;

        color: #6b6b6b;
    }
    .ingridients ul
    {
        display: table;

        width: 100%;
        margin: 0;
        margin-top: 30px;
        padding: 0;

        list-style: none;

        text-align: center;
    }
}
.ingridients ul li img
{
        display: block;
    margin: 0 auto 10px;
}
.ingridients span
{
    font-size: 16px;
    font-weight: 600;

    color: black;
}
/**/

/**/

.errorpage
{
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 32px;
    /*transform: translateY(50%);*/

    height: 100%;

    color: #6f2525;
}
.errorpage span span
{
    display: block;
}

@media screen and (max-width: 991px)
{
    .errorpage
    {
        text-align: center;
    }
    .errorpage span span
    {
        font-size: 160px;
    }
}
@media screen and (min-width: 992px)
{
    .errorpage
    {
        text-align: right;
    }
    .errorpage span span
    {
        font-size: 160px;
    }
}

.breadcrumbs {
    left: 85px;
        position: absolute;
    color: #6f2525;
    bottom: 0;    
    text-align: center;
}
.breadcrumbs a {
    color: #6f2525;
    text-decoration: none;
    font-weight: 500;
}
/**/

.subcatalog-page_item {
    list-style: none;
}
.subcatalog-page_item li {
    margin: 20px 0;
}
.subcatalog-page_item li a {
    font-family: 'Neucha', 'Roboto', 'Helvetica', Arial, sans-serif;
    padding: 0 0 0 30px;
    text-decoration: none;
    color: #b09146;
    font-size: 24px;
    background: url(../images/nav_aside-menu-icon.png) no-repeat center left;
}

.cart-empty {
        width: 100%;
    display: block;
    text-align: center;
}

.call-order {
    position: absolute;
    width: 90%;
    display: none;
    text-align: center;
    max-width: 500px;
    background-color: #8dccdb;
    top: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 30px 50px;
    box-shadow: 0 10px 30px black;
    z-index: 1100;
}

.call-order input {
    display: block;
    border: 1px solid #4694a7;
    margin: 0 auto;
    height: 40px;
    padding: 5px 20px;
    color: gray;
    font-weight: 300;
    width: 80%;
    margin-bottom: 20px;
}

.call-order input[type='submit'] {
        border: none;
    background-color: #054f62;
    font-weight: 600;
    color: white;
}

.index-form {
        background: url(../images/index-form_back.jpg) no-repeat;
    height: 496px;
    background-size: cover;
    padding-top: 60px;
    margin-top: 60px;
}
.index-form input {
        height: 50px;
        padding: 0 20px;
    max-width: 400px;
    border: 2px solid #c6a663;
    display: block;
    margin: 30px auto;
    width: 100%;
    color: #8a8a8a;
    font-size: 22px;
    font-weight: 300;
}

.index-form input[type='submit'] {
    background-color: #efd8a8;
    color: #6f2525;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 2px 10px #6c521d;
    -webkit-box-shadow: 0 2px 10px #6c521d;
    border: 0 none;
}